
<IfModule ssl_module>
SSLProtocol all -SSLv2 -SSLv3 -TLSv1
</IfModule>

<VirtualHost *:443>

  ServerName {{ vhost.ServerName }}
  ServerAlias {{ vhost.ServerAliases | join(' ') }} {% if vhost.dev_hostname is defined -%}
  {{ vhost.dev_hostname }}
  {%- endif %}

  ServerAdmin webmaster@{{ vhost.ServerName }}
  DocumentRoot {{ vhost.DocumentRoot }}

  SSLEngine on
  SSLHonorCipherOrder on

  SSLProtocol all -SSLv2 -SSLv3 -TLSv1
  SSLCipherSuite ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

  SSLCertificateFile {{ vhost.SSLCertificateFile }}
  SSLCertificateKeyFile {{ vhost.SSLCertificateKeyFile }}

  {% if 'SSLCertificateChainFile' in vhost and vhost.SSLCertificateChainFile %}
  SSLCertificateChainFile {{ vhost.SSLCertificateChainFile }}
  {% endif %}

  <Directory {{ vhost.DocumentRoot }} >
    Options FollowSymLinks
    # AllowOverride None
    AllowOverride FileInfo

    {% if apache_version is version_compare('2.2', '<=') %}
    Order allow,deny
    Allow from all
    {% else %}
    Require all granted
    {% endif %}

    # <IfModule mod_rewrite.c>
    #   RewriteEngine On
    #   RewriteBase /
    #   RewriteRule ^index\.php$ - [L]
    #   RewriteCond %{REQUEST_FILENAME} !-f
    #   RewriteCond %{REQUEST_FILENAME} !-d
    #   RewriteRule . /index.php [L]
    # </IfModule>
  </Directory>

  <IfModule headers_module>
      header set X-Clacks-Overhead "GNU Terry Pratchett"
  </IfModule>

  # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
  # error, crit, alert, emerg.
  # It is also possible to configure the loglevel for particular
  # modules, e.g.
  #LogLevel info ssl:warn

  ErrorLog {{ apache_log_path }}/{{ vhost.ServerName }}-error-ssl.log
  CustomLog {{ apache_log_path }}/{{ vhost.ServerName }}-access-ssl.log combined

  # For most configuration files from conf-available/, which are
  #Include conf-available/serve-cgi-bin.conf
</VirtualHost>
